@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Purple-100: #dacffc;
    --Purple-500: #7650dc;
    --Yellow-100: #f9eee1;
    --Yellow-500: #ffcb6b;
    --White: #ffffff;
    --Black: #121212;
}

body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background-color: #dedede;
    min-height: 100vh;
}

div.one {
    background-color: var(--Yellow-100);
}

div.two {

    background-color: var(--Yellow-500);
}

div.three {
    background-color: var(--Purple-500);
    grid-row-start: 1;
}

div.four {
    background-color: var(--White);
    padding: 1rem 1rem;
}

div.five {
    background-color: var(--White);
    padding: 1rem 1rem;

}

div.six {
    background-color: var(--Yellow-500);
    padding: 1rem 1rem;
}

div.seven {
    background-color: var(--Purple-500);
    padding: 1rem 1rem;
}

div.eight {
    background-color: var(--Purple-100);
}

main.main-container {
    padding: 2rem 1rem;
}

section.app-grid-container {
    display: grid;
    grid-template-rows: repeat(8, minmax(auto, 1fr));
    gap: 1.2rem;
}

section>div {
    padding: 2.5rem 1.5rem;
    border-radius: 0.5rem;
}


@media screen and (min-width: 1024px) {
    main.main-container {
        max-width: 75vw;
        padding: 3rem 10px;
        margin: 0 auto;
        height: 100vh;
    }

    section.app-grid-container {
        display: grid;
        grid-template-rows: repeat(7, 1fr);
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
        height: 100%;
    }

    section.app-grid-container .one {
        grid-row: 1 / 4;
    }

    .one p {
        line-height: 1.5rem;
    }

    .one p span:first-of-type,
    .one p span:last-of-type {
        font-weight: 500;
        font-size: 1.8rem;
    }

    .one p span:last-of-type {
        color: var(--Purple-500);
        font-style: italic;
    }

    .one div {
        margin-top: 20px;
    }

    .one div img {
        width: 100%;
    }

    section.app-grid-container .two {
        grid-row: 4 / 8;
    }

    .two p {
        line-height: 1.5rem;
        font-size: 1.7rem;
        font-weight: 500;
    }

    .two div {
        width: 100%;
        margin: 40px auto;
    }

    .two div img {
        width: 100%;
    }


    section.app-grid-container .three {
        grid-row: 1 / 4;
        grid-column: 2 / 4;
        text-align: center;
    }

    section.app-grid-container .three p:nth-of-type(1) {
        font-size: 3rem;
        font-weight: 500;
        color: var(--White);
    }

    section.app-grid-container .three p:nth-of-type(1) span:nth-of-type(2) {
        color: var(--Yellow-500);
    }

    section.app-grid-container .three div {
        width: 37%;
        margin: 20px auto 0;
    }

    section.app-grid-container .three div img {
        width: 100%;
    }

    section.app-grid-container .three p:nth-of-type(2) {
        font-weight: 400;
        color: var(--Yellow-100);
    }

    section.app-grid-container .four {
        grid-row: 4 / 6;
    }

    section.app-grid-container .four div {
        width: 100%;
    }

    section.app-grid-container .four div img {
        width: 100%;
    }

    section.app-grid-container .four p {
        font-weight: 500;
        font-size: 1.4rem;
        margin-bottom: 10px;
        line-height: 1.3rem;
    }


    section.app-grid-container .five {
        grid-row: 6 / 8;
    }

     section.app-grid-container .five .para1 {
        font-weight: 500;
        font-size: 3rem;
        margin-top: 0;
        padding-top: 0;
    }

     section.app-grid-container .five .para2 {
        margin-bottom: 20px;
     }

    section.app-grid-container .five div {
        width: 75%;
        margin-bottom: 30px;
    }

    section.app-grid-container .five div img {
        width: 100%;
    }

    section.app-grid-container .six {
        grid-row: 4 / 6;
        grid-column: 3 / 4;
    }

    section.app-grid-container .six p {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.3rem;
    }

    section.app-grid-container .six div {
        width: 50%;
        margin-top: 10px;
    }

    section.app-grid-container .six div img {
        width: 100%;
    }


    section.app-grid-container .seven {
        grid-row: 6 / 8;
        grid-column: 3 / 5;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    section.app-grid-container .seven div {
        flex-basis: 40%;
        flex-shrink: 0;
    }

    section.app-grid-container .seven div img {
        width: 100%;
    }

    section.app-grid-container .seven p {
        color: var(--White);
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.4rem;
    }

    section.app-grid-container .eight {
        grid-row: 1 / 6;
        grid-column: 4 / 5;
    }

    section.app-grid-container .eight .para1 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.4rem;
    }


    section.app-grid-container .eight div {
        width: 100%;
        margin-top: 20px;

    }
    section.app-grid-container .eight div img {
        width: 100%;
    }
    section.app-grid-container .eight p {
        font-weight: 400;
        margin-top: 20px; 
    }



    section>div {
        padding: 2.5rem 1.5rem;
        border-radius: 0.5rem;
    }
}