@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Purple-100: #dacffc;
    --Purple-500: #7650dc;
    --Yellow-100: #f9eee1;
    --Yellow-500: #ffcb6b;
    --White: #ffffff;
    --Black: #121212;
}

body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background-color: #dedede;
    min-height: 100vh;
}

div.one {
    background-color: var(--Yellow-100);
}

div.two {
    background-color: var(--Yellow-500);
}

div.three {
    background-color: var(--Purple-500);
}

div.four {
    background-color: var(--White);
}

div.five {
    background-color: var(--White);

}

div.six {
    background-color: var(--Yellow-500);

}

div.seven {
    background-color: var(--Purple-500);

}

div.eight {
    background-color: var(--Purple-100);

}

@media screen and (min-width: 1024px) {
    main.main-container {
        max-width: 85vw;
        padding: 3rem 10px;
        margin: 0 auto;
        height: 100vh;
    }


    /* column 1 */
    section.app-grid-container {
        display: grid;
        grid-template-rows: repeat(7, 1fr);
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        height: 100%;
    }

    section.app-grid-container .one {
        grid-row: 1 / 4;
    }

    section.app-grid-container .two {
        grid-row: 4 / 8;
    }

    section.app-grid-container .three {
        grid-row: 1 / 4;
        grid-column: 2 / 4;
    }

    section.app-grid-container .four {
        grid-row: 4 / 6;
    }

    section.app-grid-container .five {
        grid-row: 6 / 8;
    }

    section.app-grid-container .six {
        grid-row: 4 / 6;
        grid-column: 3 / 4;
    }

    section.app-grid-container .seven {
        grid-row: 6 / 8;
        grid-column: 3 / 5;
    }

    section.app-grid-container .eight {
        grid-row: 1 / 6;
        grid-column: 4 / 5;
    }

    section div {
        border-radius: 0.5rem;
        padding: 1rem;
    }
}